# Cover page

- Name of the document,
- course ID and course name,
- the names of students as well as the student numbers,
- and the URL to the GitHub repository.

# Definitions, acronyms and abbrevations

- List of any definitions, acronyms and abbrevations used in the document.

# Introduction

- Short introduction to the contents of the document.
- What is in the document?
- What is the purpose of the document?

This documents contains a report of the testing process for the utility library of the front-end of the E-Commerce
Store application. The aim of this document is to give a thorough description of what was tested, how the tests were
run and what were the results. Additionally, some things were missing from the plan and are described for the
clarification.

The report begins with a description of the target of the testing and a list of issue categorization in Section 2.
Next, section 3 gives an overview of the tests and the GitHub Actions workflow, in addition to instructions of how
to run the tests. Finally, section 4 provides our findings and conclusion of the testing process.

# Definition of done

- when has the test target as a whole passed testing
- example of bug/issue report to ease the burden of documentation, and a pre-defined list of bug/issue categorization (
  e.g. bug severity rating such as minor, medium, major).

This section provides complementary information that was missing from the testing plan.

The target of the testing is to test the most critical parts of the utility library. The files chosen for the tests are
essential for the front end using the utility library, which is why all tests must pass, until the testing is deemed as
passed.

The severity rating of the bugs from the least critical to the most critical is 

- minor
- medium
- major.

# Tests & CI pipeline

- Add a description of your tests and GitHub Actions workflow.
- Include instructions on how to run your unit tests and generate coverage report locally.



## Description of the tests



## CI pipeline and coveralls



# Findings and conclusions

- Make reports of any bugs or issues you happen to find (if any).
- Estimate on the overall quality of the tested library. Did it pass your tests? Is it ready for production? Should
  it be used with the E-Commerce application? Is the E-Commerce application ready for production?
- Estimate the test coverage. Was the library "fully tested"? How about the E-Commerce application? Is there a need
  for further tests?



# References

- List of any and all references used in the document. Add URL links in references (as opposed to inline links within
  the text).
