# Cover page

- Name of the document,
- course ID and course name, 
- the names of students as well as the student numbers, 
- and the URL to the GitHub repository.

# Definitions, acronyms and abbrevations

- List of any definitions, acronyms and abbrevations used in the document.

# Introduction

- Short introduction to the contents of the document.
- What is in the document?
- What is the purpose of the document? 

# Tests & CI pipeline

- Add a description of your tests and GitHub Actions workflow.
- Include instructions on how to run your unit tests and generate coverage report locally.

# Findings and conclusions

- Make reports of any bugs or issues you happen to find (if any).
- Estimate on the overall quality of the tested library. Did it pass your tests? Is it ready for production? Should 
  it be used with the E-Commerce application? Is the E-Commerce application ready for production?
- Estimate the test coverage. Was the library "fully tested"? How about the E-Commerce application? Is there a need 
  for further tests?

# Virtual Machine

- Optionally, the description of your Virtual Machine setup with screenshots (e.g. showing the execution of your 
local tests), if you want to try your luck in getting the bonus point (and did not already include the description in your plan, in part 1).

# References

- List of any and all references used in the document. Add URL links in references (as opposed to inline links within 
the text).
